<div class="container">
<body>
  <div class="page-title">
	  <h3> ALL CASE STUDIES </h3>
  </div>
  <div class="cases">
	  <div class="case-study">
		  <% @cases.each do |case_study| %>
	  <div class="case-number">
		  <h4><%= case_study.id %>. <%= case_study.title %><h4>
	  </div>

	  <div class="description">
		  <p><%= case_study.description %></p>
	  </div>
    <div class="image">
      <a href="http://www.microsoft.com" target="_blank" title="Name of Partner 1"><img src="http://placehold.it/360x160"></a>
    </div>

	  <div class="link">
		  <a href=<%= case_study.link %> target="_blank">Explore This Case</a> 
	  </div>
    <br>
	  <br>
	    <% end %>
	</div>
</body>
</div>