<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Civic Curriculum</title>
    <link href="./stylesheets/base.scss" rel="stylesheet">
    <link
    href='http://fonts.googleapis.com/css?family=Roboto:900,500,400,300,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="nav-bar">
        <div class="logo">
          <p>Civic Tech Case Finder</p>
        </div>
        <nav>
          <div class="nav-list">
            <ul>
              <li><a href="#section-1" title="SECTION 1">See All Cases</a></li>
              <li><a href="#section-2" title="SECTION 2">Contact</a></li>
              <li><a href="#section-3" title="SECTION 3">Terms & Conditions</a></li>
            </ul>          
          </div>
        </nav>
      </div>
    <header>
      <h1> Civic Tech Curriculum </h1>
    </header>
    <section class="description">
      <div class="intro">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </section>
    <section class="questions">
      <div class="input">
        
        <%= form_tag main_find_path, method: :post do %>
          <p>What subject do you teach?<p>
          <input type="text" name="teach">
          <p>What grade level do you teach?<p>
          <input type="text" name="grade">
          <p>Tag?<p>
          <select name="tag_id" id="tag_id">
          <% @tags.each do |tag| %>
            <option value=<%= "#{tag.id}"%>><%= tag.name %></option>
          <% end %>
          </select>
          <p>Question 4?<p>
          <input type="text" name="teach2">
          <br>
          <%= submit_tag 'Submit', :class => 'submit' %>
        <% end %>
        
      </div>
    </section>
      <section class="footer" id="footer">
       <footer>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="mailto:name@email.com">Contact</a></li>
            <li><a href="/all">See All</a></li>
          </ul>
        </footer>
    </section>
  </body>