<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Civic Tech </title>
    <link href="./stylesheets/base.scss" rel="stylesheet">
    <link
    href='http://fonts.googleapis.com/css?family=Roboto:900,500,400,300,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="nav-bar">
    <div class="logo">
      <h2>Civic Tech Case Finder</h2>
      <a href="http://www.microsoft.com" target="_blank" title="Microsoft">
      <img src="assets/msr_logo.jpg" >
      </a>
    </div>
    <nav>
      <div class="nav-list">
        <ul>
          <li><a href="/all">See All Cases</a></li>
          <li><a href="#section-2" title="SECTION 2">Contact</a></li>
          <li><a href="#section-3" title="SECTION 3">Terms & Conditions</a></li>
        </ul>          
      </div>
    </nav>
  </div>
  <header>
  </header>
  <section class="description">
    <div class="intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ipsum pretium, efficitur erat ac, posuere orci. Curabitur magna nulla, sagittis scelerisque ipsum sit amet, maximus sagittis ex. Nunc ex odio, ornare eu maximus sed, pulvinar non ante. Integer vehicula sem ultrices, dignissim est sit amet, pharetra massa.Praesent iaculis, massa a porta lacinia, metus tortor viverra ipsum, eget ornare sem velit at augue. Suspendisse ut pellentesque neque, rhoncus aliquam velit. Maecenas convallis eros sem, eu egestas ligula imperdiet vitae.</p>
    </div>
  </section>
  <section class="questions">
    <div class="input1">
      <p>What subject do you teach?<p>
      <label>
      <select name="subject_id" class="turnintodropdown" id="subject_id">
        <option selected>Select</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="english">English</option>
        <option value="statistics">Statistics</option>
        <option value="philosophy">Philosophy</option>
        <option value="forieign_language">Foreign Language</option>
      </select>
      </label>
      <p>What grade level do you teach?<p>
      <label>
      <select name="grade_id" id="grade_id">
        <option selected>Select</option>
        <option value="freshman_highschool">Freshman High School</option>
        <option value="sophomore_highschool">Sophmore High School</option>
        <option value="junior_highschool">Junior High School</option>
        <option value="senior_highschool">Senior High School</option>
        <option value="freshman_college">College Freshman</option>
        <option value="freshman_college">College Sophomore</option>
        <option value="freshman_college">College Junior</option>
        <option value="freshman_college">College Senior</option>
      </select>
      </label>
      <p>What tools interest you?<p>
      <label>
        <select name="tool_id" id="tool_id">
          <option selected>Select</option>
          <option value="machine_learning">Machine Learning</option>
          <option value="networks">Networks</option>
          <option value="open_data">Open Data</option>
          <option value="data_visualization">Data Visualization</option>
          <option value="data_science">Data Science</option>
          <option value="crowd_sourcing">Crowd Sourcing</option>
          <option value="data_analysis">Aata Analysis</option>
        </select>
        </label>
    </div>

    <div class="input2">
      <p>Are your students technical?</p>
    <label>
        <select name="sector_id" id="sector_id">
          <option selected>Select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="maybe">Maybe</option>
        </select>
      </label>
      <p>What sectors interest you?<p>
        <label>
        <select name="tag_id" id="tag_id">
          <option selected>Select</option>
          <option value="health">Health</option>
          <option value="democracy">Democracy</option>
          <option value="elections">Elections</option>
          <option value="international">International</option>
          <option value="finance">Finance</option>
          <option value="energy">Energy</option>
          <option value="transit">Transit</option>
          <option value="housing">Housing</option>
          <option value="social_justice">Social Justice</option>
          <option value="government">Government</option>
          <option value="media">Media</option>
          <option value="startups">Startups</option>
        </select>
        </label>

      <p>What problems interest you?<p>
      <label>
        <select name="problem_id" id="problem_id">
          <option selected>Select</option>
          <option value="privacy">Privacy</option>
          <option value="ethics">Ethics</option>
          <option value="procurement">Economic Growth</option>
          <option value="efficiency">Efficiency</option>
          <option value="social_services">Social Services</option>
          <option value="economic_growth">Economic Growth</option>
          <option value="procurement">Economic Growth</option>
        </select>
        </label>
    </div>
  </section>
     