<header>
  <nav>
    <div class="title">
      <h1>Civic Tech Case Finder</h1>
      <p>Case studies on civic tech topics</p>
    </div>
    <div class="logo">
      <a href="#"><%=image_tag "msr_white_logo.png"%></a>
    </div>
  </nav>
</header>
<div class="main-questions">
  <h2>I teach</h2>
  <label>
    <select>
      <option value="Math">Math</option>
      <option value="English">English</option>
      <option value="Science">Science</option>
    </select>
  </label>
  <h2>at the</h2>
    <label>
      <select>
        <option value="High School">High School</option>
        <option value="Undergraduate School">Undergraduate School</option>
        <option value="Graduate School">  Graduate School</option>
      </select>
    </label>
  <h2>level</h2>
</div>
<div class="main">
  <aside>
    <h4 class="aside-toggle">all | none</h4>
    <div class="tag-category">
      <p>technical</p>
      <input type="radio" name="technical" value="yes">yes
      <input type="radio" name="technical" value="no">no
      <input type="radio" name="technical" value="either">either
    </div>
    <div class="tag-category sector">
      <p>sector</p>
      <a href="#" data-tag="social-justice" class="tag"><h4>Social Justice</h4></a>
      <a href="#" data-tag="health" class="tag"><h4>Health</h4></a>
      <a href="#" data-tag="international" class="tag"><h4>International</h4></a>
      <a href="#" data-tag="transit" class="tag"><h4>Transit</h4></a>
      <a href="#" data-tag="energy" class="tag"><h4>Energy</h4></a>
      <a href="#" data-tag="government" class="tag"><h4>Government</h4></a>
      <a href="#" data-tag="startups" class="tag"><h4>Startups</h4></a>
      <a href="#" data-tag="housing" class="tag"><h4>Housing</h4></a>
      <a href="#" data-tag="education" class="tag"><h4>Education</h4></a>
      <a href="#" data-tag="media" class="tag"><h4>Media</h4></a>
      <a href="#" data-tag="finance" class="tag"><h4>Finance</h4></a>
    </div>
    <div class="tag-category problem">
      <p>problem</p>
      <a href="#" data-tag="disaster-reponse" class="tag"><h4>Disaster Response</h4></a>
      <a href="#" data-tag="economic-growth" class="tag"><h4>Economic Growth</h4></a>
      <a href="#" data-tag="ethics" class="tag"><h4>Ethics</h4></a>
      <a href="#" data-tag="efficiency" class="tag"><h4>Efficiency</h4></a>
      <a href="#" data-tag="privacy" class="tag"><h4>Privacy</h4></a>
      <a href="#" data-tag="elections" class="tag"><h4>Elections</h4></a>
      <a href="#" data-tag="procurement" class="tag"><h4>Procurement</h4></a>
      <a href="#" data-tag="social-services" class="tag"><h4>Social Services</h4></a>
    </div>
    <div class="tag-category method">
      <p>method</p>
      <a href="#" data-tag="machine-learning" class="tag"><h4>Machine Learning</h4></a>
      <a href="#" data-tag="internet-of-things" class="tag"><h4>Internet of Things</h4></a>
      <a href="#" data-tag="networks" class="tag"><h4>Networks</h4></a>
      <a href="#" data-tag="open-data" class="tag"><h4>Open Data</h4></a>
      <a href="#" data-tag="data-visualization" class="tag"><h4>Data Visualization</h4></a>
      <a href="#" data-tag="data-science" class="tag"><h4>Data Science</h4></a>
      <a href="#" data-tag="crowd-sourcing" class="tag"><h4>Crowd Sourcing</h4></a>
      <a href="#" data-tag="data-analysis" class="tag"><h4>Data Analysis</h4></a>
    </div>
  </aside>
  <section>
    <h4 class="notice">We found 38 results</h4>
    <article>
      <h3>Bluebutton Initiative</h3>
      <p>Increase the transparency and access to their health information, in order to   make more informed decisions about their health, care for their famil  members,   and share information with their providers.</p>
      <a href="#"></a>
      <div class="tags">
        <a class="tag"><h4>Social Justice</h4></a>
        <a class="tag"><h4>Health</h4></a>
        <a class="tag"><h4>Ethics</h4></a>
      </div>
      <a href="#" class="expand"><h4>More</h4></a>
    </article>
    <article>
      <h3>Green Button Connect</h3>
      <p>In collaboration with the White   House Office of Science & Technology Policthe Department of Energy, NIST, the North American Energy Standards Boardutilities, and vendors, a team of Fellows worked to double the Green   Buttoecosystem, improve Green Button data, and leverage Green Button in federaagencies. Reduce waste and shrink bills by providing consumers with secure, easto-understand information about how they are using energy in their householdsIn collaboration with the White House Office of Science & Technology Policy, thDepartment of Energy, NIST, the North American Energy Standards Boardutilities, and vendors, a team of Fellows worked to double the Green Buttoecosystem, improve Green Button data, and leverage Green Button in federaagencies. 100 million Americans and 8 million Canadians have access to theipersonalized energy data; 66,000+ individual downloads of personal energy data.</p>
      <a href="#"></a>
      <div class="tags">
        <a class="tag"><h4>Open Data</h4></a>
        <a class="tag"><h4>Health</h4></a>
        <a class="tag"><h4>Privacy</h4></a>
      </div>
      <a href="#" class="expand"><h4>More</h4></a>
    </article>
  </section>
</div>
