<header>
  <nav>
    <div class="title">
      <h1>Civic Tech Case Finder</h1>
      <p>Case studies on civic tech topics</p>
    </div>
    <div class="logo">
      <a href="#"><%=image_tag "msr_white_logo.png"%></a>
    </div>
  </nav>
</header>
<div class="main-questions">
  <h2>I teach</h2>
  <label>
    <select id='subject'>
      <option value="">---</option>
      <option value="economics">Economics</option>
      <option value="statistics">Statistics</option>
      <option value="environmental">Environmental Studies</option>
      <option value="politics">Politics</option>
      <option value="history">History</option>
    </select>
  </label>
  <h2>at the</h2>
  <label>
    <select id="school">
      <option value="">---</option>
      <option value="high-school">High School</option>
      <option value="undergraduate-school">Undergraduate School</option>
      <option value="graduate-school">Graduate School</option>
    </select>
  </label>
  <h2>level</h2>
</div>
<div class="main">
  <div class="aside-anchor">
  <aside>
    <h4 class="aside-toggle"><a href="#" title="clear">clear</a></h4>
    <div class="tag-category">
      <p>technical</p>
      <input type="radio" name="technical" value="yes">yes
      <input type="radio" name="technical" value="no">no
      <input type="radio" checked="checked" name="technical" value="either">either
    </div>
    <div class="tag-category sector">
      <p>sector</p>
      <a href="#" data-tag="social-justice" class="tag"><h4>Social Justice</h4></a>
      <a href="#" data-tag="health" class="tag"><h4>Health</h4></a>
      <a href="#" data-tag="international" class="tag"><h4>International</h4></a>
      <a href="#" data-tag="transit" class="tag"><h4>Transit</h4></a>
      <a href="#" data-tag="energy" class="tag"><h4>Energy</h4></a>
      <a href="#" data-tag="government" class="tag"><h4>Government</h4></a>
      <a href="#" data-tag="startups" class="tag"><h4>Startups</h4></a>
      <a href="#" data-tag="housing" class="tag"><h4>Housing</h4></a>
      <a href="#" data-tag="education" class="tag"><h4>Education</h4></a>
      <a href="#" data-tag="media" class="tag"><h4>Media</h4></a>
      <a href="#" data-tag="finance" class="tag"><h4>Finance</h4></a>
    </div>
    <div class="tag-category problem">
      <p>problem</p>
      <a href="#" data-tag="disaster-response" class="tag"><h4>Disaster Response</h4></a>
      <a href="#" data-tag="economic-growth" class="tag"><h4>Economic Growth</h4></a>
      <a href="#" data-tag="ethics" class="tag"><h4>Ethics</h4></a>
      <a href="#" data-tag="efficiency" class="tag"><h4>Efficiency</h4></a>
      <a href="#" data-tag="privacy" class="tag"><h4>Privacy</h4></a>
      <a href="#" data-tag="elections" class="tag"><h4>Elections</h4></a>
      <a href="#" data-tag="procurement" class="tag"><h4>Procurement</h4></a>
      <a href="#" data-tag="social-services" class="tag"><h4>Social Services</h4></a>
    </div>
    <div class="tag-category method">
      <p>method</p>
      <a href="#" data-tag="machine-learning" class="tag"><h4>Machine Learning</h4></a>
      <a href="#" data-tag="internet-of-things" class="tag"><h4>Internet of Things</h4></a>
      <a href="#" data-tag="networks" class="tag"><h4>Networks</h4></a>
      <a href="#" data-tag="open-data" class="tag"><h4>Open Data</h4></a>
      <a href="#" data-tag="data-visualization" class="tag"><h4>Data Visualization</h4></a>
      <a href="#" data-tag="data-science" class="tag"><h4>Data Science</h4></a>
      <a href="#" data-tag="crowd-sourcing" class="tag"><h4>Crowd Sourcing</h4></a>
      <a href="#" data-tag="data-analysis" class="tag"><h4>Data Analysis</h4></a>
    </div>
  </aside>
    <p>hi</p>
  </div>
  <section class="cases">
    <h4 class="notice">We found 38 results</h4>
    <article>
      <div class="article-synopsis more">
        <div class="article-image">
          <img src="/assets/blue-button.png">
        </div>
        <div class="image-box"></div>
        <div class="article-text">
          <h3>Bluebutton Initiative</h3>
          <p class="preview">Increase the transparency and access to their health information, in order to make more informed decisions about their health, care for their family members, and share information with their providers.</p>
        </div>
        <div class="more-info">
          <div class="image-box"></div>
          <p class="description">Increase the transparency and access to their health information, in order to make more informed decisions about their health, care for their family members, and share information with their providers. A team of PIFs, in partnership with the Office of the National Coordinator for Health Information Technology (ONC), VA, DoD, & CMS to expand the Blue Button Initiatives including connector, Fast Healthcare Interoperability Resources (FHIR) API standards for interoperability and a FHIR test server in SITE and CMS. 150 million Americans have access to their personalized health data; 600+ commitments from organizations to advance health information access efforts.</p>
        </div>
        <div class="meta-data">
          <span class="share-links">
            <a class="tag"><h4><i class="fa fa-twitter"></i></h4></a>
            <a class="tag"><h4><i class="fa fa-envelope"></i></h4></a>
            <a class="tag"><h4><i class="fa fa-facebook"></i></h4></a>
          </span>
          <div class="text-tags">
            <div class="tags">
              <a class="tag"><h4>Social Justice</h4></a>
              <a class="tag"><h4>Health</h4></a>
              <a class="tag"><h4>Ethics</h4></a>
            </div>
            <%# <a href="#" class="expand more"><h4>More</h4></a> %>
            <a href="#" target="_blank" class="article-link" href="#">View</a>
          </div>
        </div>
      </article>
      <article>
        <div class="article-synopsis">
          <div class="article-image">
            <img src="/assets/blue-button.png">
          </div>
          <div class="image-box"></div>
          <div class="article-text">
            <h3>Bluebutton Initiative</h3>
            <p class="preview">Increase the transparency and access to their health information, in order to make more informed decisions about their health, care for their family members, and share information with their providers.</p>
          </div>
          <div class="more-info">
            <div class="share-links">
              <a class="tag"><h4>Health</h4></a>
              <a class="tag"><h4>Ethics</h4></a>
            </div>
            <p class="description">Lorem ipsum</p>
          </div>
          <div class="meta-data">
            <div class="article-link">
              <a href="#">link</a>
            </div>
            <div class="text-tags">
              <div class="tags">
                <a class="tag"><h4>Social Justice</h4></a>
                <a class="tag"><h4>Health</h4></a>
                <a class="tag"><h4>Ethics</h4></a>
              </div>
              <a href="#" class="expand more"><h4>More</h4></a>
            </div>
          </div>
        </article>
      </section>
    </div>
