.cases {
  .case-study {
    .description {
      p {
        color: white;
        margin-top: 0px;
        margin-left: 220px;
        text-align: left;
        width: 700px;
        height: 4px;
        font-family: $font;

      }
    }
    .tag {
      p {
        color: white;
        font-family: $font;
        margin-left: 730px;
      }
    }
  }
}
.container body {
  background-color: #e8e8e8
}
.cases {
  .image {
    img {
      margin-top: -150px;
      float: left;
      height: 130px;
      width: 240px;
    }
  }
}
.cases {
  position: relative;
  .button {
      a {
        color: white;
      background-color: #00a1f1;
      border: none;
      height: 30px;
      width: 150px;
      font-size: 14px;
      position:absolute;
      top: 694px;
      left: 990px
      }
    }

}
.page-title {
  h3 {
    margin-top: 70px;
    color: white;
    font-family: $font;
    font-weight: 400;
  }
}