section {
  @include span-columns(9);
  h4.notice {
    margin-top: 0;
    font-style: italic;
}
}
article {
  @include clearfix;
  border: 1px solid $lightgray;
  background-color: white;
  padding: 25px;
  margin-bottom: 30px;
  height: 200px;
  position: relative;
  h3 {
    margin-top: 0px;
}
.article-image {
  img {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
}
}
.image-box {
  float: left;
  width: 200px;
  height: 130px;
}
}

.meta-data {
  @include clearfix;
  .share-links {
    width: 200px;
    float: left;
  }
}

a.article-link {
  background: $msr-blue;
  padding: 2px 30px;
  color: white;
  text-decoration: none;
  font-size: modular-scale(-1);
  }

.article-text {
  height: 130px;
}

.more-info {
  @include clearfix;
  padding-bottom: 30px;
}


.tags {
  float: left;
}

.expand {
  position: relative;
  float: right;
  display: block;
  background-color: white;
  padding: 2px 7px;
  padding-right: 21px;
  border: 1px solid $lightgray;
  text-decoration: none;
  color: $msr-blue;
  text-align: center;

  &.more h4:after {
    content: '▼';
  }
  &.collapse h4:after {
    content: '▲';
  }

  h4 { 
    margin: 0px; 
    font-weight: 400;
    &:after { 
      position: absolute;
      color: $msr-blue;
      padding-left: 5px;
}
}
}
