$green: #16DDA4;
$font: Roboto, sans-serif;

h1 {
  color: green;
}
h3 {
  font-family: $font;
  @include span-columns(12);
  text-align: center;
}
body {
  /*background-image: url("../assets/images/tech_jobs_academy_demo.jpg");*/
  color: black;
  font-family: $font;
  font-weight: 400;
}

p {
  font-family: $font;
  font-weight: 400;
}
section {
  margin: 10px;
}
.case-number {
  text-align: center;
  background-color: black;
  padding: 3px;
}

.submit {
  margin-top: 20px;
  display:inline-block;
  background-color: $green;
  cursor:pointer;
  color:white;
  font-family: 100% $font;
  font-size: modular-scale(0);
  padding: 8px 65px;
  text-decoration:none;
  border: none;
}