$font: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$lightgray: #E4E4E4;
$sector: #FF9966;
$problem: #66CC66;
$method: #FF0000;
$msr-blue: #00a1f1;

* {
  font-family: $font;
}
body { 
  margin: 0px; 
  background-color: #F8F8F8;
}
h1 {
  color: black;
  font-size: modular-scale(1);
}
h2 {
  font-size: modular-scale(2);
}
h3 {
  font-size: modular-scale(1);
}
h4 {
  font-size: modular-scale(-1);
}
p {
  font-size: modular-scale(0);
}
.main {
  @include outer-container;
}
