$green: #16DDA4;
$font: Roboto, sans-serif;

body {
  @include span-columns(12);
  background-image: image-url("back15.jpg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 1280px;
  max-width: 1500px;
  background-position: -60px 20px 0px;
}

header {
  h1 { 
    color: $green;
    text-align:center;
  }
}
section {
  @include outer-container;
}

.description {
  @include span-columns(6);
  width: 100%;
  margin-left: 30px;
  .intro p {
    color: white;
    margin-top: 10%;
    width: 450px;
    text-align: left;
  }
}
.questions {
    @include span-columns(6);
/*    width: 100%;*/
  .input {
    position: absolute;
    top: 10%;
    left: 60%;
    padding-left: 50px;
  }
  p {
    text-align: left;
    color: white;
  }
}

.cases {
  @include outer-container;
  .case-study {
    .case-number {
      margin-bottom: 15px;
      h4 { 
        color: white;
        font-weight: 400;
        text-transform: capitalize;
      } 
    } 
    @include span-columns(12);
    .description {
      padding-top: 20px;
      width: 600px;
      margin-left: 40px;
    }
    .link {
      padding-top: 10px;
      a { 
        font-weight: bold;
       }
      a:hover {
        color: $accent-color;
      }
    }
    .image {
      margin-top: 36px;
    }
  }
}
