header { background-color: black; }
nav {
  @include outer-container;
  @include clearfix();
  
  .logo img {
    width: 140px;
    float: right;
  }
  .title {
    float: left;
    padding-top: 10px;
    h1 {
      font-weight: 700;
      color: white;
      display: inline;
    }
    p {
      font-weight: 100;
      margin-left: 10px;
      color: white;
      display: inline;
    }
  }
}