aside {
  h4 a {
    color: gray;
    text-decoration: none;
  }
  background-color: white;
  border: 1px solid $lightgray;
  position: relative;
  padding: 0px 20px;
  .aside-toggle {
    position: absolute;
    right: 20px;
    text-align: right;
  }
  .tag-category {
    margin-bottom: 20px;
    h4 {
      text-align: left;
    }
    p {
      display: block;
    }
  }
  width: 100%;
}

.aside-anchor {
  @include clearfix;
  @include span-columns(3);
  padding-left: 0px;
  position: relative;
  > p {color: transparent;}
}
