aside {
  h4 a {
    color: gray;
    text-decoration: none;
  }
  @include span-columns(3);
  background-color: white;
  border: 1px solid $lightgray;
  position: relative;
  padding: 0px 20px;
  .aside-toggle {
    position: absolute;
    right: 20px;
    text-align: right;
  }
  .tag-category {
    margin-bottom: 20px;
    h4 {
        text-align: left;
    }
    p {
      display: block;
    }
    input[type="radio"] {
      display: inline;
      text-align: left;
      margin-right: 7px;
    /*  margin-left: 18px;*/
      &:nth-of-type(2) {
        margin-left: 16px;
      }
      &:nth-of-type(3) {
        margin-left: 16px;
      }
    }
  }
}
