.tag h4 {
  padding: 2px 7px;
  border: 1px solid $lightgray;
  display: inline;
  white-space: nowrap;
  margin-right: 4px;
  text-align: left;
  line-height: 2.5em;
  font-weight: 400;
}

.sector p {
  color: $sector;
}
.problem p {
  color: $problem;
}
.method p {
  color: $method;
}